<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script src="javascript/ordercontroller.js"></script>  
<script src="javascript/userservice.js"></script>  
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>Your order has been placed succesfully!</p>

<div ng-controller="orderController" ng-app="myModule4">
<a href="" ng-click="getOrders();">Retrieve your orders!</a>
<table ng-repeat="order in orders" border="2">
<tr>
	<th>Order ID: </th>
	<th> Products: </th>
	<th> Total Price:</th>
</tr>
<tr>
<td>{{order.id}}</td>
<td>
	<ul>
         <li ng-repeat="product in order.products"> 
           {{product.name}} 
         </li>
	</ul>
</td>	
<td>{{order.totalprice}}</td>
</tr>
</table>
<a href="/shop/gohome">Go home</a>
</div>
</body>
</html>