<HTML>
   <HEAD>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
    <script src="javascript/cartcontroller.js"></script>  
    <script src="javascript/userservice.js"></script>  
      <TITLE>Welcome to e shop</TITLE>
   </HEAD>
   <script type="text/javascript">  
   </script>
   <BODY>
 		<div ng-controller="testController" ng-app="myModule2">
 		<h2>Welcome {{usersession}}</h2>
			<table border="5">
			<tr>
				<th>Product Name</th>
				<th>Product Price</th>
				<tr ng-repeat="x in list">
    				<td>{{ x.name }}</td>
    				<td>{{ x.price }}</td>
    				<td>{{ x.description }}</td>
    				<!--<td><a href="cart.html?id={{x.id}}&name={{x.name}}" target="_blank">Add To Cart</a> --> 
    				<td><a href="" ng-click="addtocart(x);">Add To Cart 2</a>
  				</tr>
            </table>
            <div id="cart" ng-show="cart.length > 0">
 			<table border="5">
			<tr>
				<th>Product Name</th>
				<th>Product Price</th>
			</tr>
			<tr ng-repeat="y in cart">
			<td>{{y.name}}</td>
			<td>{{y.price}}</td>
			<td><a href="" ng-click="removefromcart(y);">Remove item</a> 
			</tr> 
			<tr>
			<td>Total Price:</td>
			<td>{{totalprice}}</td>
			</tr>
            </table>
            </div>
    	</div>
   </BODY>
</HTML>