<HTML>
   <HEAD>
       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script> 
      <TITLE>Welcome to e shop</TITLE>
   </HEAD>
   
   
   <script type="text/javascript">
   var app = angular.module( "Demo", [] );

   app.controller("testController", function($scope, $http){
	   $scope.list = {};
	$scope.init = function (){	
			    $http({
				method:"get",
				url:"getproducts"
				}).then(function(response){
					$scope.list = response.data;
				}, function errorCallback(response) { });
			
			}
			$scope.gamename;
		    $scope.gameid = 4
		$scope.addtocart = function (game){			       		       
				    $http({
					method:"post",
					url:"/shop/addtocart",
					data: {
						"name" : game.name,
						"id" : game.id,
						"description" : game.description,
						"price" : game.price
				}
					}).then(function(response){

					}, function errorCallback(response) { });
				
				}
	$scope.init();	
   });
   
   </script>
   
   <BODY>
 		<div ng-controller="testController" ng-app="Demo">
			<table border="5">
			<tr>
				<th>Product Name</th>
				<th>Product Price</th>
				<tr ng-repeat="x in list">
    				<td>{{ x.name }}</td>
    				<td>{{ x.price }}</td>
    				<td>{{ x.description }}</td>
    				<td>{{ x.id }}</td>
    				<td><a href="cart.html?id={{x.id}}&name={{x.name}}" target="_blank">Add To Cart</a>
    				<td><a href="" ng-click="addtocart(x);">Add To Cart 2</a>
  				</tr>
            </table>
 	
   </BODY>
</HTML>